.currency__overflow {
    overflow-x: scroll;
    max-height: 15rem;
}
.currency-dropdown {
    label {
        border-radius: 1rem;
        cursor: pointer;
        display: block;
        margin: $base-rem 0;
        height: 100%;
        transition: all .3s ease-in-out;
        width: 100%;
        &:hover, &:focus, &:active {
            background-color: $blue;
            color: $white;
        }
    }
    
    input[type="radio"] {
        height: 0;
        opacity: 0;
        width: 0;
        position: absolute;
    }

    input[type="radio"]:active ~ label, input[type="radio"]:checked ~ label {
        background-color: $blue-light;
        color: $white;
        opacity: 1;
        position: relative;
        &:before {
            color: $white;
            content: "selected";
            font-size: $base-rem;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            transform: translate(-50%, -50%);
            top: 50%;
        }
    }
}

.currency__wrapper, .flag-icon {
    line-height: 1;
}